<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/index.css">
    <style>
        body {
            background-color: #f8f9fa;
        }
    </style>
</head>

<body>
    <div class="py-5"></div>
    <div class="register-box">
        <div class="stepper">
            <ul class="items">
                <li class="item active">
                    <a class="item-link">Thong tin ca nhan</a>
                </li>
                <li class="item">
                    <a class="item-link">Dang ky dich vu</a>
                </li>
                <li class="item">
                    <a class="item-link">Ky hop dong</a>
                </li>
            </ul>
        </div>
        <div class="py-5"></div>
        <div class="register-sections">
            <div class="section-left">
                <div class="section-box" style="box-shadow: none; background-color: transparent;">
                    <div class="vertical-stepper">
                        <ul class="items">
                            <li class="item active">
                                <a class="item-link">Thong tin ca nhan</a>
                            </li>
                            <li class="item active">
                                <a class="item-link">Chon loai tai khoan</a>
                            </li>
                            <li class="item active">
                                <a class="item-link">Xac minh giay to</a>
                            </li>
                            <li class="item">
                                <a class="item-link">Bo sung thong tin ca nhan</a>
                            </li>
                            <li class="item">
                                <a class="item-link">Xac minh khuon mat</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="section-right">
                <div class="section-box">
                    <div class="register-form-wrapper">
                        <form class="register-form" id="id-card-form">
                            <h1 class="register-form-title" style="margin-top: 0">Chup hai mat giay to tuy than cua quy
                                khac</h1>
                            <div class="register-form-group register-form-check">
                                <label class="register-input-check-desc">
                                    * Vui lòng sử dụng giấy tờ thật. Hãy đảm bảo ảnh chụp không bị mờ hoặc bóng, thông
                                    tin hiển thị rõ ràng, dễ đọc trong điều kiện đầy đủ ánh sáng
                                </label>
                            </div>
                            <div class="register-form-group">
                                <div class="register-form-group register-col-md-6">
                                    <div class="register-card">
                                        <div class="register-card-header">
                                            <h3 class="register-card-title">CCCD/CMND mat truoc</h3>
                                        </div>
                                        <div class="register-card-body">
                                            <div class="id-card-area">
                                                <div class="id-card-inner">
                                                    <div class="id-card-region">
                                                        <div
                                                            style="position: absolute; background-color: rgba(0, 0, 0, 0.15); width: 40px; height: 5px; top: -5px; left: 0px;">
                                                        </div>
                                                        <div
                                                            style="position: absolute; background-color: rgba(0, 0, 0, 0.15); width: 40px; height: 5px; top: -5px; right: 0px;">
                                                        </div>
                                                        <div
                                                            style="position: absolute; background-color: rgba(0, 0, 0, 0.15); width: 40px; height: 5px; bottom: -5px; left: 0px;">
                                                        </div>
                                                        <div
                                                            style="position: absolute; background-color: rgba(0, 0, 0, 0.15); width: 40px; height: 5px; bottom: -5px; right: 0px;">
                                                        </div>
                                                        <div
                                                            style="position: absolute; background-color: rgba(0, 0, 0, 0.15); width: 5px; height: 45px; top: -5px; left: -5px;">
                                                        </div>
                                                        <div
                                                            style="position: absolute; background-color: rgba(0, 0, 0, 0.15); width: 5px; height: 45px; bottom: -5px; left: -5px;">
                                                        </div>
                                                        <div
                                                            style="position: absolute; background-color: rgba(0, 0, 0, 0.15); width: 5px; height: 45px; top: -5px; right: -5px;">
                                                        </div>
                                                        <div
                                                            style="position: absolute; background-color: rgba(0, 0, 0, 0.15); width: 5px; height: 45px; bottom: -5px; right: -5px;">
                                                        </div>
                                                        <button id="btn-capture-front-id" class="register-btn success"
                                                            type="button">Chup anh</button>
                                                        <img src="https://media-cdn-v2.laodong.vn/storage/newsportal/2021/1/26/874344/Can-Cuoc-Cong-Dan-Ga.jpg">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="register-form-group register-col-md-6">
                                    <div class="register-card">
                                        <div class="register-card-header">
                                            <h3 class="register-card-title">CCCD/CMND mat sau</h3>
                                        </div>
                                        <div class="register-card-body">
                                            <div class="id-card-area">
                                                <div class="id-card-inner">
                                                    <div class="id-card-region">
                                                        <div
                                                            style="position: absolute; background-color: rgba(0, 0, 0, 0.15); width: 40px; height: 5px; top: -5px; left: 0px;">
                                                        </div>
                                                        <div
                                                            style="position: absolute; background-color: rgba(0, 0, 0, 0.15); width: 40px; height: 5px; top: -5px; right: 0px;">
                                                        </div>
                                                        <div
                                                            style="position: absolute; background-color: rgba(0, 0, 0, 0.15); width: 40px; height: 5px; bottom: -5px; left: 0px;">
                                                        </div>
                                                        <div
                                                            style="position: absolute; background-color: rgba(0, 0, 0, 0.15); width: 40px; height: 5px; bottom: -5px; right: 0px;">
                                                        </div>
                                                        <div
                                                            style="position: absolute; background-color: rgba(0, 0, 0, 0.15); width: 5px; height: 45px; top: -5px; left: -5px;">
                                                        </div>
                                                        <div
                                                            style="position: absolute; background-color: rgba(0, 0, 0, 0.15); width: 5px; height: 45px; bottom: -5px; left: -5px;">
                                                        </div>
                                                        <div
                                                            style="position: absolute; background-color: rgba(0, 0, 0, 0.15); width: 5px; height: 45px; top: -5px; right: -5px;">
                                                        </div>
                                                        <div
                                                            style="position: absolute; background-color: rgba(0, 0, 0, 0.15); width: 5px; height: 45px; bottom: -5px; right: -5px;">
                                                        </div>
                                                        <button id="btn-capture-back-id" class="register-btn success"
                                                            type="button">Chup anh</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="register-form-group btns">
                                <a class="register-btn dark">Quay lai</a>
                                <button class="register-btn success" disabled>Tiep tuc</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>